
/* @font-face specifies a custom font to display text and it can be loaded either locally or remotely*/



body{
    margin: 0;
    font-family: arial, sans-serif;
    
}

a{
    margin: 5px 5px;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

nav{
    display: flex; /* By default the flex-direction is set to row.*/
    justify-content: space-between; /* used to align the flex items.*/
}

.menu-left {
    display: flex;
    justify-content: flex-start; /*flex start is the default, aligns items at the beginning of the container.*/
    align-items: center;
    padding-left: 20px;
}

.menu-left img {
    width: 2vw;
}

.menu-left button {
    background-color: cornflowerblue;
    color: #FFF;
}

.menu-right {
    display: flex;
    justify-content: flex-end; /*aligns items at the end of the container*/
    align-items: center;
    margin-right: 20px;
}


/*spaces out the icons and link that are housed in the unordered list.*/
ul > a, ul > img{
    padding: 0 8px;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}



h1{
    font-family: Product Sans;
    font-size: 5.5em;

}
.my-input-container{
    display: flex;
    flex: row;
    justify-content: space-between;
    width: 400px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

.my-input-container img {
    width: 2vw;
    margin: 3px;
}

.my-input-container:hover{
    box-shadow: 0 0 10px 0 gainsboro;

}

.my-input-container > input{
    flex-grow: 8;
    border: none;
    outline: none;

}

img:hover{
    cursor: pointer;
}

.my-button-container{
    display: flex;
    flex-direction: row;
    padding-top: 53px;
}

button{
    background-color:#F8F9FA;
    border-radius: 5px;
    border: none;
    min-width: 44px;
    height: 36px;
    padding: 0 15px;
    margin: 0 2px;
}

button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro;
}

footer{
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0; /*affects the vertical psosition of the element*/
    width: 100vw;
}

.country{
    margin: 20px;
}

.footer-header{
    text-align: center;
    margin: 2vh;
}

button{
    background-color:#F8F9FA;
    border-radius: 5px;
    border: none;
    min-width: 54px;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

.footer-header img {
    width: 1vw;
}

.footer-left{
    display: flex;
    justify-content: flex-start; /*aligns items at the beginning of the container*/
    padding-left: 20px;
    align-items: center;

}button{
    background-color:#F8F9FA;
    border-radius: 5px;
    border: none;
    min-width: 54px;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

.footer-right{
    display: flex;
    justify-content: flex-end; /*aligns the flex items at the end of the container*/
    margin-right: 20px;
    align-items: center;
}

/*responsiveness of screen*/

@media (max-width: 630px){

    .footer-nav{
        flex-direction: column;
    }

    .footer-left{
        justify-content: center;
    }

    .footer-right{
        justify-content: center;
    } 

     .my-input-container{
         width: 85vw;
    }
    .menu-left img {
        width: 3vw;
    }

    .footer-header img {
        width: 2vw;
    }
    


}

@media (max-height: 522px){

    body{
        overflow-x: hidden;
    }
    section{
        margin-bottom: 20px;
    }
    footer{
        position: relative;
    }
    .my-input-container img {
        width: 2.5vw;
        margin: 5px;
    }

}

@media (max-height: 570px) and ( max-width: 630px){
    body{
        overflow-x: hidden;
    }
    section{
        margin-bottom: 13px;
    }
    footer{
        position: relative;
    }
}